<h1>Add a New Car</h1>
<form action="/car_added" method="post">

  <label for="new-MakeModel">Add a Make and Model</label>
  <input id="new-MakeModel" name="new-MakeModel" type="text">

  <label for="new-Age">How old is the car?</label>
  <input id="new-Age" name="new-Age" type="text">

  <label for="new-Mileage">Add it's mileage:</label>
  <input id="new-Mileage" name="new-Mileage" type="text">

  <label for="new-Price">What is the price?</label>
  <input id="new-Price" name="new-Price" type="text">

  <label for="new-Message">Add a message</label>
  <input id="new-Message" name="new-Message" type="text">
  <button type="submit">Submit</button>

</form>
