<h1>You've added a new car!</h1>
<p>@Model.Car.GetMakeModel()</p>
<p>@Model.Car.GetMileage()</p>
<p>@Model.Car.GetPrice()</p>
<p>@Model.Car.GetMessage()</p>

</p>
<p><a href="/">Add another car</a></p>
<p><a href="/view_all_cars">View current cars</a></p>
