<h1>Car Inventory</h1>

  @foreach(var car in Model)
  {
    <h3>@car.GetMakeModel()</h3>
    <ul>
      <li>@car.GetMessage()</li>
      <li>@car.GetMiles()</li>
      <li>$<p>@car.GetPrice()</p></li>
    </ul>
  }
<p><a href="/">Add another car</a></p>
<form action="/cars_cleared" method="post">
  <button type="submit" name="button">Clear All Cars</button>
</form>
