<h1>Car Inventory</h1>

  @foreach(var car in Model)
  {
    <h3>@car.GetMakeModel()</h3>

      <p>@car.GetMessage()</p>
      <p>Miles: @car.GetMiles()</p>
      <p>Price: $@car.GetPrice()</p>

  }
<p><a href="/">Add another car</a></p>
<form action="/cars_cleared" method="post">
  <button type="submit" name="button">Clear All Cars</button>
</form>
